[submodule "pkgs/argp-standalone/src"]
	path = pkgs/bin/crun/argp-standalone
	url = https://github.com/argp-standalone/argp-standalone.git
[submodule "pkgs/libcap/src"]
	path = pkgs/bin/crun/libcap
	url = https://git.kernel.org/pub/scm/libs/libcap/libcap.git
[submodule "pkgs/busybox/src"]
	path = pkgs/bin/busybox/src
	url = https://github.com/mirror/busybox.git
[submodule "pkgs/chrony/src"]
	path = pkgs/images/chrony/src
	url = https://github.com/mlichvar/chrony.git
[submodule "pkgs/cni-plugins/src"]
	path = pkgs/images/dhcp-cni/cni-plugins
	url = https://github.com/containernetworking/plugins.git
[submodule "pkgs/cri-o/src"]
	path = pkgs/bin/cri-o/src
	url = https://github.com/cri-o/cri-o
[submodule "pkgs/crun/src"]
	path = pkgs/bin/crun/src
	url = https://github.com/containers/crun
[submodule "pkgs/dhcp/src"]
	path = pkgs/images/dhcp/src
	url = https://github.com/NetworkConfiguration/dhcpcd.git
[submodule "pkgs/iptables/src"]
	path = pkgs/bin/iptables/src
	url = https://git.netfilter.org/iptables
[submodule "pkgs/libseccomp/src"]
	path = pkgs/lib/libseccomp/src
	url = https://github.com/seccomp/libseccomp.git
[submodule "pkgs/musl/src"]
	path = pkgs/lib/musl/src
	url = https://git.musl-libc.org/git/musl
[submodule "pkgs/kubernetes/src"]
	path = pkgs/bin/kubernetes/src
	url = https://github.com/kubernetes/kubernetes.git
[submodule "pkgs/linux/src"]
	path = pkgs/boot/linux/src
	url = https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git
[submodule "pkgs/rpi-firmware/src"]
	path = pkgs/boot/rpi-firmware/src
	url = https://github.com/raspberrypi/rpi-firmware.git
